<!doctype html>
<html>
	
	<head>
		<title>{documents}</title>
		{{ template "global-html-head-css" }}
	</head>
	
	<body>
		
		<header>
			<h1>{documents}</h1>
			{{ template "global-html-nav" }}
			<hr/><hr/>
		</header>
		
		<main>
			{{ if .Documents }}
				<ul>
					{{ range $_, $document := .Documents }}
						<li>{{ template "document-html-a-link" $document }}</li>
					{{ end }}
				</ul>
			{{ else }}
				<p>No documents!</p>
			{{ end }}
		</main>
		
		<footer>
			<hr/><hr/>
			{{ template "global-html-nav" }}
		</footer>
		
	</body>
	
</html>
