<!doctype html>
<html>
	
	<head>
		{{ template "document-html-head-title" .Document }}
		{{ template "global-html-head-css" }}
		{{ template "global-html-head-js" }}
	</head>
	
	<body>
		
		<header>
			{{ template "document-html-header-title" .Document }}
			{{ template "document-html-header-details" .Document }}
			{{ template "document-html-header-nav" .Document }}
			{{ template "library-html-header-nav" .Library }}
			{{ template "search-nav" }}
			<hr/><hr/>
		</header>
		
		<main class="document document-format-{{ .Document.Format }}">
{{ .DocumentHtml }}
		</main>
		
		<footer>
			<hr/><hr/>
			{{ template "document-html-footer-nav" .Document }}
			{{ template "library-html-footer-nav" .Library }}
			<!--
				<ul>
				{{ range $url, $labels := .Document.HtmlLinks }}
					<li><a href="{{ $url }}" rel="nofollow noreferrer">{{ $url }}</a></li>
				{{ end }}
				</ul>
			-->
		</footer>
		
	</body>
	
</html>
