

{{ define "library-html-head-title" -}}
	{{- if .Name -}}
		<title>{{ .Name }}</title>
	{{- else -}}
		<title>[{{ .Identifier }}]</title>
	{{- end -}}
{{- end }}

{{ define "library-html-header-title" -}}
	{{- if .Name -}}
		<h1>{{ .Name }}</h1>
	{{- else -}}
		<h1>[{{ .Identifier }}]</h1>
	{{- end -}}
{{- end }}


{{ define "library-html-header-details" -}}
{{- end }}


{{ define "library-html-header-nav" -}}
	<nav>
		<p>Library navigation</p>
		<ul>
			{{ if . }}
				{{ if .CreateEnabled }}
					<li class="search-candidate"><a href="/dc/{{ .Identifier }}">{create}</a></li>
				{{ end }}
			{{ else }}
				<li class="search-candidate"><a href="/dc/">{create}</a></li>
			{{ end }}
			{{ if . }}
				<li class="search-candidate"><a href="/l/{{ .Identifier }}">{library}</a></li>
			{{ end }}
			<li class="search-candidate"><a href="/l/">{libraries}</a></li>
			<li class="search-candidate"><a href="/d/">{documents}</a></li>
			<li class="search-candidate"><a href="/i/">{index}</a></li>
			<li class="search-candidate"><a href="/">{home}</a></li>
		</ul>
	</nav>
{{- end }}

{{ define "library-html-footer-nav" -}}
	<nav>
		<p>Library navigation</p>
		<ul>
			{{ if . }}
				{{ if .CreateEnabled }}
					<li><a href="/dc/{{ .Identifier }}">{create}</a></li>
				{{ end }}
			{{ else }}
				<li><a href="/dc/">{create}</a></li>
			{{ end }}
			{{ if . }}
				<li><a href="/l/{{ .Identifier }}">{library}</a></li>
			{{ end }}
			<li><a href="/l/">{libraries}</a></li>
			<li><a href="/d/">{documents}</a></li>
			<li><a href="/i/">{index}</a></li>
			<li><a href="/">{home}</a></li>
		</ul>
	</nav>
{{- end }}


{{ define "library-html-a-link" -}}
	{{- if .Name -}}
		<a href="/l/{{ .Identifier }}">{{ .Name }}</a>
	{{- else -}}
		<a href="/l/{{ .Identifier }}">[{{ .Identifier }}]</a>
	{{- end -}}
{{- end }}


{{ define "library-html-head-js" }}
{{ end }}




{{ define "document-html-head-title" -}}
	{{- if .Title -}}
		<title>{{ .Title }}</title>
	{{- else -}}
		<title>[{{ .Identifier }}]</title>
	{{- end -}}
{{- end }}

{{ define "document-html-header-title" -}}
	<h1>
		{{- if .Title -}}
			{{ .Title }}
		{{- else -}}
			[{{ .Identifier }}]
		{{- end -}}
	</h1>
{{- end }}


{{ define "document-html-header-details" -}}
	<nav>
		<p>Document details</p>
		<dl>
			<div>
				<dt>identifier</dt>
				<dd><code>{{ .Identifier  }}</code></dd>
			</div>
			<div>
				<dt>library</dt>
				<dd><code>{{ .Library  }}</code></dd>
			</div>
			{{- if .Timestamp.IsZero | not -}}
			<div>
				<dt>timestamp</dt>
				<dd><time datetime="{{ .Timestamp.Format "2006-01-02" }}">{{ .Timestamp.Format "2006-01-02 15:04:05" }}</time></dd>
			</div>
			<div>
				<dt>format</dt>
				<dd><code>{{ .Format  }}</code></dd>
			</div>
			{{- end -}}
		</dl>
	</nav>
{{- end }}


{{ define "document-html-header-nav" -}}
	<nav>
		<p>Document navigation</p>
		<ul>
			{{ if .EditEnabled }}
				<li class="search-candidate"><a href="/de/{{ .Identifier }}">{edit}</a></li>
			{{ end }}
			<li class="search-candidate"><a href="/dx/html-document/{{ .Identifier }}">{export HTML doc}</a></li>
			<li class="search-candidate"><a href="/dx/html-body/{{ .Identifier }}">{export HTML raw}</a></li>
			<li class="search-candidate"><a href="/dx/text/{{ .Identifier }}">{export txt}</a></li>
			<li class="search-candidate"><a href="/dx/source/{{ .Identifier }}">{source}</a></li>
			<li class="search-candidate"><a href="/d/{{ .Identifier }}">{reload}</a></li>
		</ul>
	</nav>
{{- end }}

{{ define "document-html-footer-nav" -}}
	<nav>
		<p>Document navigation</p>
		<ul>
			{{ if .EditEnabled }}
				<li><a href="/de/{{ .Identifier }}">{edit}</a></li>
			{{ end }}
			<li><a href="/dx/html-document/{{ .Identifier }}">{export HTML doc}</a></li>
			<li><a href="/dx/html-body/{{ .Identifier }}">{export HTML raw}</a></li>
			<li><a href="/dx/text/{{ .Identifier }}">{export txt}</a></li>
			<li><a href="/dx/source/{{ .Identifier }}">{source}</a></li>
			<li><a href="/d/{{ .Identifier }}">{reload}</a></li>
		</ul>
	</nav>
{{- end }}


{{ define "document-html-a-link" -}}
	{{- if .Title -}}
		<a href="/d/{{ .Identifier }}">{{ .Title }}</a>
	{{- else -}}
		<a href="/d/{{ .Identifier }}">[{{ .Identifier }}]</a>
	{{- end -}}
{{- end }}


{{ define "document-html-head-js" }}
	<script async="true">
		window.addEventListener ("DOMContentLoaded", (_event) => window.zscratchpadReloadInitialize ("/df/{{ .Identifier }}", 1000));
	</script>
{{ end }}




{{ define "global-html-header-nav" -}}
	<nav>
		<p>Global navigation</p>
		<ul>
			<li class="search-candidate"><a href="/dc/">{create}</a></li>
			<li class="search-candidate"><a href="/l/">{libraries}</a></li>
			<li class="search-candidate"><a href="/d/">{documents}</a></li>
			<li class="search-candidate"><a href="/i/">{index}</a></li>
			<li class="search-candidate"><a href="/">{home}</a></li>
		</ul>
	</nav>
{{- end }}

{{ define "global-html-footer-nav" -}}
	<nav>
		<p>Global navigation</p>
		<ul>
			<li><a href="/dc/">{create}</a></li>
			<li><a href="/l/">{libraries}</a></li>
			<li><a href="/d/">{documents}</a></li>
			<li><a href="/i/">{index}</a></li>
			<li><a href="/">{home}</a></li>
		</ul>
	</nav>
{{- end }}




{{ define "search-nav" -}}
	<div class="search-container">
		<p class="search-prompt"><label for="search-query" class="search-prompt-label">??&nbsp;</label><input id="search-query" class="search-prompt-input" placeholder="query" size="80"></input></p>
		<ul id="search-results" class="search-results"></ul>
	</div>
{{- end }}




{{ define "global-html-head-css" }}
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
	<link href="/assets/css/reset.css" rel="stylesheet" />
	<link href="/assets/css/core.css" rel="stylesheet" />
	<link href="/assets/css/layout.css" rel="stylesheet" />
{{ end }}

{{ define "global-html-head-js" }}
	<script src="/assets/js/search.js" defer="true"></script>
	<script src="/assets/js/clipboard.js" defer="true"></script>
	<script src="/assets/js/reload.js" defer="true"></script>
	<script async="true">
		window.addEventListener ("DOMContentLoaded", (_event) => window.zscratchpadReloadInitialize ("/__/reload", 1000));
	</script>
{{ end }}

