<!doctype html>
<html>
	
	<head>
		<title>{scratchpad}</title>
		{{ template "global-html-head-css" }}
		{{ template "global-html-head-js" }}
	</head>
	
	<body>
		
		<header>
			<h1>{scratchpad}</h1>
			{{ template "global-html-header-nav" }}
			{{ template "search-nav" }}
			<hr/><hr/>
		</header>
		
		<main>
			<h2>Contents</h2>
			<ul>
				<li><a href="/i/"><code>/i/</code> -- index</a></li>
				<li><a href="/l/"><code>/l/</code> -- libraries</a></li>
				<li><a href="/d/"><code>/d/</code> -- documents</a></li>
			</ul>
			<h2>Miscellaneous</h2>
			<ul>
				<li><a href="/__/version">(version)</a></li>
				<li><a href="/__/sources.md5">(sources hashes)</a></li>
				<li><a href="/__/sources.cpio">(sources archive)</a></li>
			</ul>
		</main>
		
		<footer>
			<hr/><hr/>
			{{ template "global-html-footer-nav" }}
		</footer>
		
	</body>
	
</html>
