<!doctype html>
<html>
	
	<head>
		<title>{index}</title>
		{{ template "global-html-head-css" }}
		{{ template "global-html-head-js" }}
	</head>
	
	<body>
		
		<header>
			<h1>{index}</h1>
			{{ template "global-html-header-nav" }}
			{{ template "search-nav" }}
			<hr/><hr/>
		</header>
		
		<main class="index">
			<section>
				<h2>Libraries</h2>
				{{ if .Libraries }}
					<ul>
						{{ range $_, $library := .Libraries }}
							<li class="search-candidate">{{ template "library-html-a-link" $library }}</li>
						{{ end }}
					</ul>
				{{ else }}
					<p>No libraries!</p>
				{{ end }}
			</section>
			<section>
				<h2>Documents</h2>
				{{ if .Documents }}
					<ul>
						{{ range $_, $document := .Documents }}
							<li class="search-candidate">{{ template "document-html-a-link-prefixed" $document }}</li>
						{{ end }}
					</ul>
				{{ else }}
					<p>No documents!</p>
				{{ end }}
			</section>
		</main>
		
		<footer>
			<hr/><hr/>
			{{ template "global-html-footer-nav" }}
		</footer>
		
	</body>
	
</html>
