<!doctype html>
<html>
	
	<head>
		<title>{libraries}</title>
		{{ template "global-html-head-css" }}
		{{ template "global-html-head-js" }}
	</head>
	
	<body>
		
		<header>
			<h1>{libraries}</h1>
			{{ template "global-html-header-nav" }}
			{{ template "search-nav" }}
			<hr/><hr/>
		</header>
		
		<main class="index">
			<section>
				{{ if .Libraries }}
					<ul>
						{{ range $_, $library := .Libraries }}
							<li class="search-candidate">{{ template "library-html-a-link" $library }}</li>
						{{ end }}
					</ul>
				{{ else }}
					<p>No libraries!</p>
				{{ end }}
			</section>
		</main>
		
		<footer>
			<hr/><hr/>
			{{ template "global-html-footer-nav" }}
		</footer>
		
	</body>
	
</html>
