<!doctype html>
<html>
	
	<head>
		{{ template "library-html-head-title" .Library }}
		{{ template "global-html-head-css" }}
		{{ template "global-html-head-js" }}
	</head>
	
	<body>
		
		<header>
			{{ template "library-html-header-title" .Library }}
			{{ template "library-html-header-details" .Library }}
			{{ template "library-html-header-nav" .Library }}
			{{ template "search-nav" }}
			<hr/><hr/>
		</header>
		
		<main>
			{{ if .Documents }}
				<ul>
					{{ range $_, $document := .Documents }}
						<li class="search-candidate">{{ template "document-html-a-link" $document }}</li>
					{{ end }}
				</ul>
			{{ else }}
				<p>No documents!</p>
			{{ end }}
		</main>
		
		<footer>
			<hr/><hr/>
			{{ template "library-html-footer-nav" .Library }}
		</footer>
		
	</body>
	
</html>
