<!doctype html>
<html>
	
	<head>
		<title>{libraries}</title>
		{{ template "global-html-head-css" }}
	</head>
	
	<body>
		
		<header>
			<h1>{libraries}</h1>
			{{ template "global-html-nav" }}
			<hr/><hr/>
		</header>
		
		<main>
			{{ if .Libraries }}
				<ul>
					{{ range $_, $library := .Libraries }}
						<li>{{ template "library-html-a-link" $library }}</li>
					{{ end }}
				</ul>
			{{ else }}
				<p>No libraries!</p>
			{{ end }}
		</main>
		
		<footer>
			<hr/><hr/>
			{{ template "global-html-nav" }}
		</footer>
		
	</body>
	
</html>
