<!doctype html>
<html>
	
	<head>
		<title>{url-error}</title>
		{{ template "global-html-head-css" }}
		{{ template "global-html-head-js" }}
	</head>
	
	<body>
		
		<header>
			<h1>{url-error}</h1>
			{{ template "global-html-header-nav" }}
			{{ template "search-nav" }}
			<hr/><hr/>
		</header>
		
		<main class="document dialogue">
			<p>
				The following URL is broken!
				<br/>
				<code>{{ .UrlUnsafe }}</code>
			</p>
		</main>
		
		<footer>
			<hr/><hr/>
			{{ template "global-html-footer-nav" }}
		</footer>
		
	</body>
	
</html>
