<!doctype html>
<html>
	
	<head>
		<title>{version}</title>
		{{ template "global-html-head-css" }}
		{{ template "global-html-head-js" }}
	</head>
	
	<body>
		
		<header>
			<h1>{version}</h1>
		</header>
		
		<main class="document document-format-text">
			<pre><code>
* version       : {{ .BuildVersion }}
* build target  : {{ .BuildTarget }}, {{ .BuildTargetOs }}-{{ .BuildTargetArch }}, {{ .BuildCompilerVersion }}, {{ .BuildCompilerType }}
* build number  : {{ .BuildNumber }}, {{ .BuildTimestamp }}
* code &amp; issues : <a href="{{ .ProjectUrl }}">{{ .ProjectUrl }}</a>
* sources git   : {{ .BuildGitHash }}
* sources hash  : {{ .BuildSourcesHash }}
* uname system  : {{ .UnameSystem }}, {{ .UnameRelease }}, {{ .UnameMachine }}
			</code></pre>
		</main>
		
	</body>
	
</html>
