<!doctype html>
<html>
	
	<head>
		<title>{version}</title>
		{{ template "global-html-head-css" }}
	</head>
	
	<body>
		
		<header>
			<h1>{version}</h1>
			<h2><a href="{{ .ProjectUrl }}">{{ .ProjectUrl }}</a></h2>
		</header>
		
		<main>
			<hr/>
			<pre>
* version       : {{ .BuildVersion }}
* build target  : {{ .BuildTarget }}, {{ .BuildTargetOs }}-{{ .BuildTargetArch }}, {{ .BuildCompilerVersion }}, {{ .BuildCompilerType }}
* build number  : {{ .BuildNumber }}, {{ .BuildTimestamp }}
* sources md5   : {{ .BuildSourcesMd5 }}
* sources git   : {{ .BuildGitHash }}
* code & issues : {{ .ProjectUrl }}
* uname system  : {{ .UnameSystem }}, {{ .UnameRelease }}, {{ .UnameMachine }}
			</pre>
			<hr/>
		</main>
		
	</body>
	
</html>
