<!doctype html>
<html>
	
	<head>
		<title>{version}</title>
		{{ template "global-html-head-css" }}
	</head>
	
	<body>
		
		<header>
			<h1>{version}</h1>
		</header>
		
		<main>
			<pre>
* version       : {{ .BuildVersion }}
* build target  : {{ .BuildTarget }}, {{ .BuildTargetOs }}-{{ .BuildTargetArch }}, {{ .BuildCompilerVersion }}, {{ .BuildCompilerType }}
* build number  : {{ .BuildNumber }}, {{ .BuildTimestamp }}
* code & issues : <a href="{{ .ProjectUrl }}">{{ .ProjectUrl }}</a>
* sources git   : {{ .BuildGitHash }}
* sources hash  : {{ .BuildSourcesHash }}
* uname system  : {{ .UnameSystem }}, {{ .UnameRelease }}, {{ .UnameMachine }}
			</pre>
		</main>
		
	</body>
	
</html>
