



html:root {
	font-family : "JetBrains Mono NL", "JetBrains Mono", "Fira Mono", "Courier New", monospace;
	font-size : 16px;
	line-height : 24px;
}




body, section, article, aside,
main, header, footer,
h1, h2, h3, h4, h5, h6, hgroup,
p, blockquote, pre,
nav, address, details,
dl, ul, ol, dt, dd, li,
div, dialog, form, fieldset,
table, figure, figcaption,
hr {
	display : block;
	display : flow-root;
	display : block flow-root;
}


ul > li, ol > li {
	display : list-item;
	display : list-item block flow-root;
}
ul > li {
	list-style-type : square;
	list-style-position : inside;
}
ol > li {
	list-style-type : decimal;
	list-style-position : inside;
}




pre {
	white-space : pre;
}

em, i, u {
	font-style : italic;
}

strong, mark, b {
	font-weight : bolder;
}

del, s {
	text-decoration-line : line-through;
	text-decoration-style : solid;
}

q::before, q::after {
	content : '"';
}




a,
button, select,
input[type="submit"], input[type="reset"], input[type="button"],
details > summary {
	color : hsl(270, 50%, 75%);
	cursor : pointer;
}

a *,
button *, select *,
input[type="submit"] *, input[type="reset"] *, input[type="button"] *,
details > summary * {
	color : inherit;
	cursor : inherit;
}


a:hover,
details > summary:hover {
	color : hsl(360, 50%, 75%);
	text-decoration-line : underline;
	text-decoration-style : solid;
	text-decoration-thickness : 1px;
	text-decoration-color : hsl(360, 50%, 75%);
}

button:hover, select:hover,
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	color : hsl(360, 50%, 75%);
	outline-style : solid;
	outline-width : 1px;
	outline-color : hsl(360, 50%, 75%);
	outline-offset : -1px;
}




button, input, select, summary {
	border-style : solid;
	border-width : 1px;
	border-color : hsl(0, 0%, 50%);
}

