

@namespace svg "http://www.w3.org/2000/svg";




html:root > body > main,
html:root > body > header,
html:root > body > footer {
	margin-left : auto;
	margin-right : auto;
	width : 120.0ch;
	min-width : 20.0ch;
	max-width : 100vw;
}

html:root > body > main,
html:root > body > header,
html:root > body > footer {
	padding-left : 2ch;
	padding-right : 2ch;
}




html:root > body > main {
	font-size : 1.00rem;
	line-height : 1.50rem;
	margin-top : 4.50rem;
	margin-bottom : 4.50rem;
	padding-top : 2ch;
	padding-bottom : 2ch;
}

html:root > body > header {
	font-size : 1.00rem;
	line-height : 1.50rem;
	margin-top : 0px;
	margin-bottom : 4.50rem;
	padding-top : 2ch;
	padding-bottom : 2ch;
}

html:root > body > footer {
	font-size : 1.00rem;
	line-height : 1.50rem;
	margin-top : 4.50rem;
	margin-bottom : 0px;
	padding-top : 2ch;
	padding-bottom : 2ch;
}




html:root,
html:root > body {
	background : hsl(210, 100%, 5%);
}

html:root > body > header {
	background : hsl(210, 100%, 10%);
}

html:root > body > footer {
	background : hsl(210, 100%, 10%);
}

html:root > body > main.index,
html:root > body > main.document {
	background : hsl(0, 0%, 15%);
}

html:root > body > main.dialogue {
	background : hsl(45, 100%, 15%);
}




html:root > body > main.index > :not(svg|*),
html:root > body > main.document > :not(svg|*),
html:root > body > main.dialogue > :not(svg|*) {
	display : block;
}

html:root > body > main.index > :not(svg|*):first-child,
html:root > body > main.document > :not(svg|*):first-child,
html:root > body > main.dialogue > :not(svg|*):first-child {
	margin-top : 0px;
}

html:root > body > main.index > :not(svg|*):last-child,
html:root > body > main.document > :not(svg|*):last-child,
html:root > body > main.dialogue > :not(svg|*):last-child {
	margin-bottom : 0px;
}




html:root > body > main,
html:root > body > header,
html:root > body > footer {
	text-shadow : 0px 0px 2px hsl(0, 0%, 0%);
}








html:root > body > header :not(svg|*),
html:root > body > footer :not(svg|*) {
	font-size : inherit;
	line-height : inherit;
	margin : 0px;
	padding : 0px;
	border : none;
}

html:root > body > header > h1 {
	font-size : 1.25rem;
	line-height : 1.50rem;
}

html:root > body > header > nav :not(svg|*),
html:root > body > footer > nav :not(svg|*) {
	display : inline;
}

html:root > body > header > nav > p::before,
html:root > body > footer > nav > p::before {
	content : '>> ';
}
html:root > body > header > nav > p::after,
html:root > body > footer > nav > p::after {
	content : ' >> ';
}

html:root > body > header > nav > dl > div > dt::after {
	content : ': ';
}

html:root > body > header > nav > dl > div > dd::after,
html:root > body > header > nav > ul > li::after,
html:root > body > footer > nav > ul > li::after {
	content : '; ';
}

html:root > body > header > nav,
html:root > body > footer > nav {
	font-size : 0.75rem;
	line-height : 1.0rem;
	opacity : 0.5;
}
html:root > body > header:hover > nav,
html:root > body > footer:hover > nav {
	opacity : 1.0;
}

html:root > body > header > hr,
html:root > body > footer > hr {
	display : none;
}








html:root > body > main.document-format-snippets,
html:root > body > main.document-format-text {
	padding-left : 0px;
	padding-right : 0px;
}

html:root > body > main.dialogue {
	padding-top : 0.75rem;
	padding-bottom : 0.75rem;
}




html:root > body > main.index > :not(svg|*),
html:root > body > main.dialogue > :not(svg|*) {
	margin-top : 1.50rem;
	margin-bottom : 1.50rem;
}

html:root > body > main.index ul,
html:root > body > main.dialogue > ul {
	padding-left : 2ch;
}








.search-container {
	font-size : 0.75rem !important;
	line-height : 1.0rem !important;
}

.search-results {
	max-height : 10rem;
	overflow-y : auto;
}

.search-result {
	display : block;
	white-space : nowrap;
	overflow : hidden;
}

.search-result-highlight {
	background : hsl(30, 50%, 15%);
}


.clipboard-active {
	background : hsl(30, 50%, 15%) !important;
}
.clipboard-copied {
	color : hsl(0, 0%, 100%) !important;
	background : hsl(30, 100%, 25%) !important;
}
.clipboard-active :not(svg|*),
.clipboard-copied :not(svg|*) {
	background : transparent !important;
}

