
/* NOTE:  Custom style. */

html:root, body {
	margin : 0px;
	padding : 0px;
	background : rgb(34, 39, 46);
}

.markdown-body, .markdown-header {
	box-sizing : border-box;
	min-width : 200px;
	max-width : 980px;
	margin : 0px auto;
}
.markdown-body {
	padding : 45px;
	background : hsl(0, 0%, 100%);
}
.markdown-header {
	padding : 4px;
	color : hsl(0, 0%, 75%);
	background : hsl(210, 100%, 10%);
	font-size : 16px;
	line-height : 24px;
	font-family : monospace;
	text-align : center;
}
@media (max-width : 767px) {
	.markdown-body {
		padding : 15px;
	}
}

/* NOTE:  https://github.com/markdowncss/modest */

.markdown-body pre,
.markdown-body code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

.markdown-body pre {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

.markdown-body a,
.markdown-body a:visited {
  color: #3498db;
}

.markdown-body a:hover,
.markdown-body a:focus,
.markdown-body a:active {
  color: #2980b9;
}

.markdown-body {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .markdown-body {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  .markdown-body {
    font-size: 16px;
  }
}

.markdown-body {
  line-height: 1.85;
}

.markdown-body p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

.markdown-body h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

.markdown-body h2 {
  font-size: 2.827rem;
}

.markdown-body h3 {
  font-size: 1.999rem;
}

.markdown-body h4 {
  font-size: 1.414rem;
}

.markdown-body h5 {
  font-size: 1.121rem;
}

.markdown-body h6 {
  font-size: .88rem;
}

.markdown-body small {
  font-size: .707em;
}

/* https://github.com/mrmrs/fluidity */

.markdown-body img,
.markdown-body canvas,
.markdown-body iframe,
.markdown-body video,
.markdown-body svg,
.markdown-body select,
.markdown-body textarea {
  max-width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Arimo:700,700italic);

.markdown-body {
  font-size: 18px;
}

.markdown-body {
  color: #444;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  line-height: 1.45;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-family: Arimo, Helvetica, sans-serif;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  border-bottom: 2px solid #fafafa;
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
  text-align: center;
}

.markdown-body blockquote {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

.markdown-body pre,
.markdown-body code {
  background-color: #fafafa;
}

